#content{
  display: flex;
  >div{
    >p:first-child{
      font-size:40pt;
    }
    p:nth-child(2){
      white-space: pre-line;
      font-size:15pt;
    }
  }
  div{
    ul{
      padding-left: 16px;
      display:grid;
      grid-template-columns: 35% 35%;
      li{
        text-align: justify;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  #content{
    div{
      ul{
        display:flex;
        flex-direction: column;
      }
    }
  }
}
