#skills{

  width:100%;
  padding:0 4vw;
  >div{
    margin:5% 0;
    width:100%;
    >div{
      width:100%;
      display:grid;
      column-gap: 2%;
      grid-template-columns: repeat(5, calc(100% / 5 - 1.5%));
    }
  }
}

@media screen and (max-width: 768px) {
  #skills{
    >div{
      >div{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        >.skill-card{
          flex:0 1 145px;
        }
      }
    }
  }
}